Python/advanced-python-3912165-main.zip
Python/brics.csv
Python/brics.xlsx
Python/panda_test.py
Python/range_allocate.py
Python/test_net.py
Python/ttbd_cpe.csv
Python/Untitled-1.py
Python/vehicles.csv
Python/washers.csv
Python/advanced-python-3912165-main/obsljump.code-workspace
Python/advanced-python-3912165-main/sockets
Python/advanced-python-3912165-main/test.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/CONTRIBUTING.md
Python/advanced-python-3912165-main/advanced-python-3912165-main/LICENSE
Python/advanced-python-3912165-main/advanced-python-3912165-main/NOTICE
Python/advanced-python-3912165-main/advanced-python-3912165-main/README.md
Python/advanced-python-3912165-main/advanced-python-3912165-main/requirements.txt
Python/advanced-python-3912165-main/advanced-python-3912165-main/.devcontainer/devcontainer.json
Python/advanced-python-3912165-main/advanced-python-3912165-main/.devcontainer/Dockerfile
Python/advanced-python-3912165-main/advanced-python-3912165-main/.devcontainer/startup.sh
Python/advanced-python-3912165-main/advanced-python-3912165-main/.vscode/settings.json
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/1. PythonFeatures/assignment.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/1. PythonFeatures/doc_strings.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/1. PythonFeatures/print_pprint.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/1. PythonFeatures/pyscope.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/1. PythonFeatures/specialnames.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/basic_iterators.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/for_else.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/itertools1.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/itertools2.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/itertools3.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/itertools4.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/more_iterators.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/2. Iterators/testfile.txt
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/3. Strings/builtin_constants.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/3. Strings/string_format.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/3. Strings/string_manipulation.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/3. Strings/string_search.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/4. Sequences/dict_comprehensions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/4. Sequences/list_comprehensions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/4. Sequences/sequence_compare.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/4. Sequences/sequence_slicing.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/4. Sequences/set_comprehensions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/5. Exceptions/basic_exceptions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/5. Exceptions/challenge.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/5. Exceptions/common_exceptions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Finished/5. Exceptions/custom_exceptions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/1. PythonFeatures/assignment.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/1. PythonFeatures/doc_strings.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/1. PythonFeatures/print_pprint.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/1. PythonFeatures/pyscope.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/1. PythonFeatures/specialnames.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/1. PythonFeatures/__pycache__/specialnames.cpython-311.pyc
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/basic_iterators.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/for_else.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/itertools1.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/itertools2.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/itertools3.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/itertools4.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/more_iterators.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/2. Iterators/testfile.txt
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/3. Strings/builtin_constants.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/3. Strings/string_format.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/3. Strings/string_manipulation.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/3. Strings/string_search.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/4. Sequences/dict_comprehensions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/4. Sequences/list_comprehensions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/4. Sequences/sequence_compare.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/4. Sequences/sequence_slicing.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/4. Sequences/set_comprehensions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/5. Exceptions/basic_exceptions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/5. Exceptions/challenge.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/5. Exceptions/common_exceptions.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/5. Exceptions/custom_exceptions-2.py
Python/advanced-python-3912165-main/advanced-python-3912165-main/Start/5. Exceptions/custom_exceptions.py
